body {margin:0; padding:0; width:100%; min-width:1280px; font:normal 18px "brandon-grotesque"; letter-spacing:1px; line-height:25px;}
a {text-decoration:none; color:#c80101; outline:0;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {-webkit-appearance:none;}
p {margin:0 0 0 0;}
img {max-width:100%;}
.mid-cont {position:relative; width:1000px; margin:auto;}
ul, li, ol, fieldset {list-style:none; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px;}
/*input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}*/
::-webkit-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}

.last, #header #nav li:last-child, #cta-cont .home-cta:last-child, .member-cont:nth-child(3n+4), .supporter:nth-child(4n+4) {margin-right:0 !important;}
.button, #contact-info a, #contact-form input[type="submit"] {text-transform:uppercase; color:#fff; font-size:15px; background:#cb2324; border:3px solid #cb2324; padding:18px 35px; text-align:center; cursor:pointer;}
.button:hover, #contact-info a:hover {background:#fff; color:#cb2324;}
#header, #footer, #main-wrap, #gray-cont, #cta-cont, .container, .text, #families-cont .gray, .member-cont div, #supporters-cont, .event-cont .text, #upcoming-events, #past-events {float:left; width:100%;}
#banner {position:absolute; top:100px; left:0; width:100%; height:269px;}
#main-wrap {margin-top:272px;}
.page-title {font-size:26px; float:left; width:100%; padding-bottom:20px; border-bottom:1px solid #000; margin:40px 0 25px 0;}
.gray {background:#e6e7e8;}
.hidden, #cat-cont .cat-item-1, .tribe-bar-filters {display:none;}
.overlay {position:absolute; top:0; left:0; background:#000; opacity:.7; filter:alpha(opacity=70); z-index:10;}
.line {float:left; width:100%; background:#000; height:1px; margin:25px 0 40px 0;}

/*FONTS*/
.brandon-light-italic, #sub-quote {font-family: "brandon-grotesque",sans-serif; font-style: italic; font-weight: 100; letter-spacing:0.5px;}
.brandon-regular, #contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 400; letter-spacing:3px;}
.brandon-bold, #header #nav li a, #big-quote, #donate-button, .button, #gray-cont span, #cta-cont .cta-link, #news-link, .page-title, .phase-nbr, .arrows, #about-quote p strong, #hh-info,
.member-cont .info-cont, .bio-link, .bio-cont a, .supporter, #contact-info, article .entry-meta time, article .cat-links, .event-cont .event-date  {font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 700 !important; letter-spacing:3px; text-transform:uppercase;}
.brandon-black, #header #donate-btn, #cta-cont .cta-title, #total-goal, #contact-info strong, .gray-btn, #blog-cont article h1, .event-cont .event-title {font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 900; letter-spacing:3px; text-transform:uppercase;}
.brandon-medium, #quote-author, #gray-cont, #footer #copyright, #goal-cont .phase .phase-title, #about-quote p, .member-cont .member-position, #pagination .page-numbers {font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 500; letter-spacing:1.5px; text-transform:uppercase;}

/*HEADER*/
#header {background:#fff; padding-bottom:28px; border-top:14px solid #002157;}
#header #nav {float:left; width:100%; margin:30px 0 0 100px;}
#header #nav li {float:left; margin-right:65px;}
#header #nav li:nth-child(2) {margin-right:325px;}
#header #nav li a {font-size:18px;}
#header #nav li a:hover {color:#000;}
#header #nav .current-menu-item a, #header #nav .current-page-ancestor a, #header #nav .current_page_parent a {border-bottom:4px solid #000; color:#000;}
#logo {position:absolute; width:217px; height:215px; background:url(../images/logo2.jpg) no-repeat; margin-left:375px; left:0; height:196px;}
#header #donate-btn {position:absolute; right:0; top:-1px; background:#002157; color:#fff; padding:0px 25px 10px 25px; margin-right:-60px; font-size:14px;}
#header #donate-btn:hover {color:#666;}

/*FOOTER*/
#footer {background:#e6e7e8; padding-top:32px; min-height:50px;}
#footer #copyright {float:left; font-size:13px;}
#footer #news-link {font-size:14px; color:#666; float:right;}
#footer #news-link:hover {color:#000;}
#footer #facebook {float:right; width:25px; height:22px; background:url(../images/facebook.png) no-repeat; margin-left:60px; margin-top:-4px;}
#footer #facebook:hover {background-position:0 -22px;}

/*HOME*/
#home #header {background:transparent; padding-bottom:0;}
#home #logo {background:url(../images/logo.png) no-repeat;}
#home #main-wrap {margin-top:0;}
#home-bg {position:absolute; top:0; left:0; width:100%; height:720px; background:url(../images/splash.jpg) no-repeat; background-size:cover; text-align:center; z-index:-1; min-width:1280px; top:14px;}
#home-quote-cont {float:left; width:875px; padding:48px 65px 42px 65px; text-align:center; background:url(../images/quote-overlay.png) repeat; margin-top:200px; color:#fff; text-transform:uppercase; height:372px;}
#big-quote, #sub-quote, #quote-author, #home-quote-cont .line {display:inline-block; width:100%;}

#big-quote {font-size:42px;line-height:50px;}
#quote-author {font-size:16px;}
#sub-quote {font-size:13px;}
#home-quote-cont .line {width:100%; height:1px; background:#fff; margin:10px 0 20px;}
#home-quote-cont .button {padding:15px 20px; margin-top:32px; font-size:26px; display:inline-block;}
#gray-cont {background:url(../images/star.png) no-repeat center  40px #e6e7e8; padding:40px 0 45px 0;}
#gray-cont span {font-size:13px; float:left; width:100%; text-align:center; margin-top:40px; letter-spacing:1.5px;}
#cta-cont {padding:50px 0;}
#cta-cont .home-cta {float:left; width:284px; border:2px solid #002157; margin-right:68px; background:#002157; text-align:center;}
#cta-cont .home-cta:hover, .member-cont .bio-link:hover {color:#002157;}
#cta-cont .cta-title {float:left; width:100%; padding:58px 0 44px 0; color:#fff; font-size:25px;}
#cta-cont .cta-link {float:left; width:100%; background:#fff; padding:18px 0 16px 0; font-size:16px;}
#cta-cont .home-cta:last-child {border-color:#000; background:#000;}
#cta-cont .home-cta:last-child:hover {color:#000;}
#cta-cont .home-cta:nth-child(2) {border-color:#666666; background:#666666;}
#cta-cont .home-cta:nth-child(2):hover {color:#666;}

/*ABOUT*/
#about-cont .text {width:604px;}
#about-cont #links-cont {float:right; width:340px;}
#about-cont #links-cont .button {float:right; width:264px; margin-bottom:20px; font-size:19px;}
#families-cont, #goal-cont, .bio-cont a {color:#002157;}
#families-cont .page-title, #goal-cont .page-title {border-color:#002157;}
#families-cont {background:url(../images/stars.png) no-repeat center 65px #002157; margin-top:40px;}
#families-cont .wrap, #goal-cont .wrap {width:870px; padding:0 65px 45px 65px; float:left;}
#goal-cont .phase {float:left; width:274px; margin:35px 20px 0 0;}
#goal-cont .phase .phase-nbr {font-size:18px; color:#fff; background:#002157; float:left; padding:20px 0 16px 17px; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#goal-cont .phase .phase-title {float:left; margin:16px 0 18px 0; text-transform:none; padding-left:15px; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight:bold;}
#goal-cont .arrows {font-size:25px; float:left; margin-left:15px;}
#goal-cont #total-goal {color:#fff; font-size:22px; background:#e51b24; display:inline-block; padding:18px 70px; margin:30px 0 0 190px;}
#about-quote p {text-align:center; color:#fff; background:#666; text-transform:none; padding:30px 0;}
#about-quote p strong {font-size:24px; margin-bottom:10px; float:left; width:100%;}
#hh-info {float:left; width:100%; margin:40px 0 35px 0; color:#000; font-size:11px; text-align:center; letter-spacing:2px;}

/*OUR TEAM*/
.member-cont {float:left; width:314px; height:400px; margin-right:28px; cursor:pointer; margin-bottom:20px;}
.member-cont .member-photo {height:240px;}
.member-cont .wrap {background:#002157; color:#fff; font-size:20px; padding:15px 0 10px 0; text-align:center; height:65px;}
.member-cont .member-position {font-size:14px; font-style:italic;}
.member-cont .member-name {max-width:90%; float:none; display:inline-block;}
.member-cont .bio-link {color:#cb2324; font-size:17px; text-align:center; padding:10px 0 8px; border:2px solid #002157; width:310px; }
.bio-cont {float:none; z-index:100; width:870px !important; position:absolute; left:64px; text-align:left; background:#fff;}
.bio-cont .wrap {text-align:left; padding-left:50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.bio-cont .close {cursor:pointer; color:#fff; font-size:28px; position:absolute; right:17px; top:17px; width:28px;}
.bio-cont .text {padding:28px 40px 45px 50px; max-width:780px; max-height:425px; overflow-y:scroll; -webkit-overflow-scrolling: touch;}
.bio-cont .text p {margin-bottom:25px;}
.bio-cont a {text-transform:none;}

/*OUR SUPPORTERS*/
.supporter {float:left; border:2px solid #002157; width:226px; height:226px; margin:0 26px 26px 0; background:#002157; color:#fff; text-align:center; font-size:22px;}
.supporter .supporter-name {height:226px; width:226px; display:table-cell; vertical-align:middle;}
.supporter .supporter-name span {max-width:200px; display:inline-block;}

/*CONTACT*/
#contact-info {float:left; width:455px; margin-top:15px; font-size:22px; line-height:38px;}
#contact-info strong {font-size:30px; color:#2e3192;  float:left; width:100%; margin-bottom:10px;}
#contact-info p, #contact-form {float:left; width:100%; margin-bottom:25px;}
#contact-info a {padding:18px 22px;}
#contact-img {float:right; width:500px; margin-top:15px;}
.gray-btn {font-size:17px; color:#fff; background:#666; padding:20px 30px; float:left;}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {float:left; height:60px; padding:0 20px 0 20px; background:#e6e7e8; border:none; width:450px; margin-top:20px; font-size:13px; text-transform:uppercase;}
#contact-form input[type="text"]:first-child {margin-right:20px;}
#contact-form textarea {resize:none; width:960px; height:185px; padding-top:25px;}
#contact-form input[type="submit"] {padding:15px 35px; float:left; margin-top:20px; cursor:pointer;}
#contact-form .error {color:red; position:absolute; right:0; margin-top:-40px;}
#contact-form .wpcf7-not-valid-tip {display:none !important;}
#contact-form div.wpcf7-validation-errors, #contact-form div.wpcf7-mail-sent-ok {border:none; float:left; margin:10px 0 0 25px; padding:0; color:#cb2324;}
#contact-form div.wpcf7-mail-sent-ok {color:green !important;}

/*BLOG*/
#blog-cont #cat-cont {margin-top:22px; float:right; width:250px; margin-bottom:15px;}
#blog-cont #cat-cont #sort-title {width:82px; float:right; padding:12px 25px;}
#blog-cont #cat-cont .categories {background:#cb2324; padding-bottom:20px; top:74px; right:0; position:absolute; display:none;}
#blog-cont #cat-cont .categories li a {float:right; text-transform:uppercase; color:#fff; font-size:15px; padding:15px 20px 0 20px; width:200px; text-align:right;}
#blog-cont #cat-cont .categories li a:hover {color:#000;}
#blog-cont article {float:left; width:100%; padding:40px 0; border-top:1px solid #000;}
#blog-cont article h1 {font-size:30px; margin-bottom:10px;}
article .entry-meta time, article .cat-links {font-size:18px;}
article .entry-content {float:left; width:100%; margin:30px 0 10px 0;}
article .entry-content img {max-width:100%; height:auto;}
#pagination {float:left; width:100%; padding:20px 0 45px 0; border-top:1px solid #000;}
#pagination .page-numbers {float:left;  color:#000; font-size:16px; padding:2px 12px 2px 0;}
#pagination .page-numbers:hover {color:#666;}
#pagination .page-numbers.prev {border-right:1px solid #000; margin-right:15px;}
#pagination .page-numbers.next {border-left:1px solid #000; padding-left:12px;}

/*EVENTS*/
.event-cont {float:left; width:100%; height:305px; background:url(../images/stars.png) no-repeat center 65px #454545; margin-bottom:50px;}
.event-cont .event-info {float:left; width:400px; height:250px; padding:25px 50px 30px 60px; background:#e6e7e8;}
.event-cont .event-img {float:left; width:490px;  background:#e6e7e8;}
.event-cont .event-img img {float:left; width:412px; height:305px;}
.event-cont .event-title {font-size:30px; float:left; width:100%; line-height:34px; }
.event-cont .event-date {font-size:16px; float:left; width:100%; line-height:26px; margin:7px 0;}
.event-cont .button {float:left; margin-top:15px; padding:10px 30px;}
.sort-events {position:absolute; right:0; padding:7px 30px; top:25px;}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	body {min-height:1700px !important;}
	#banner, .overlay {width:1280px !important;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#banner, .overlay {width:1280px !important;}
}	

@media only screen and (max-device-width : 320px) {
	body {min-height:1400px !important;}
	#banner, .overlay {width:1280px !important;}
}

/*@media only screen and (min-device-width : 321px) {
	#banner, .overlay {width:1280px !important;}
}
*/